

{% extends 'base.html.twig' %}

{% block title %}Delete Question{% endblock %}

{% block body %}
    <h1>Delete Question</h1>
    <h3>Are you sure you want to delete this item?</h3>

    {{ form_start(form) }}
    <div style="color:red">{{ form_errors(form) }}</div>
    {{ form_widget(form) }}
    {{ form_end(form) }}



{% endblock %}
