

{% extends 'base.html.twig' %}

{% block title %}Delete Question{% endblock %}

{% block body %}
    <h3>Êtes-vous sûr de vouloir supprimer cette question ?</h3>
    <br>
    <br>
    <br>
    {{ form_start(form) }}
    <div style="color:red">{{ form_errors(form) }}</div>
    {{ form_widget(form) }}
    <center>  <button style="background-color:red" class="btn btn-danger">Supprimer</button></center>
    {{ form_end(form) }}




{% endblock %}
