{% extends '/bundles/EasyAdminBundle/default/layout.html.twig' %}

{% block main %}

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

    <body>
    {% set nbpar=0 %}
    <div class="panel panel-success">

        <div class="card bg-info text-white">
            <div class="card-body">

<div class="row">
    <div class="col">
        <h1> <font color="white"> <i class="fa fa-history"></i> &nbsp; Historiques</font></h1>

    </div>
    <div class="col-7">
        <div style="padding-left: 75%; background-color: "> <input class="form-control" type="search" id="myInput" placeholder="Rechercher"></div>

    </div>
</div>

            </div>
        </div>
    </div>
    <div class="w3-container" style="padding: 20px">


        <div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead class="blue-grey lighten-4">
                            <tr>
                                <th>Participant</th>
                                <th>Quiz</th>
                                <th>Tentatives</th>
                                <th></th>
                            </tr>
                            </thead>

            {% for p in participant %}
                {% if p.quiz.user == user %}
            <tbody id="myTable">

            <tr class="w3-hover-grey">
                        <td>{{ p.participant }}</td>
                        <td>{{ p.quiz }}</td>
                        <td>{{ p.tentative }}</td>
                        <td>
                            <font size="4" color="#4169e1"><a href="{{ path('showHistorique', { 'p' : p.id }) }}"><i class="fa fa-eye"></i></a></font>
                        </td>
                    </tr>
            </tbody>

                    {% set nbpar=nbpar + 1 %}
                {% endif %}
            {% endfor %}


        </table>
                    </div>
                </div>
            </div>
            </div>
    </div>
   <center>
       {% if nbpar == 0 %}
           <h1>Aucun résultat trouvé !</h1><br>
       {% endif %}
   </center>
    </body>


{% endblock %}