{% extends '/bundles/EasyAdmin/default/layout.html.twig' %}


{% block content_header %}
<style>
    .aa {
        width: 35px;
        height: 4px;
        background-color: #444444;
        margin: 6px 0;
    }
    * {
        box-sizing: border-box;
    }

    #myInput {
        background-position: 10px 12px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myUL {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    #myUL li a {
        border: 1px solid #ddd;
        margin-top: -1px; /* Prevent double borders */
        background-color: #f6f6f6;
        padding: 12px;
        text-decoration: none;
        font-size: 18px;
        color: black;
        display: block
    }

    #myUL li a:hover:not(.header) {
        background-color: #eee;
    }
</style>

{% endblock %}
{% block main %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  >



    <div class="panel panel-success">

        <div class="row">
            <div class="col-sm-3" style="background-color: ">
                <div class="panel panel-success">
                    <div class="card bg-info text-white">
                        <div class="card-body"><center>LISTE QUIZ</center></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9" style="background-color: ">
                <div class="panel panel-success">
                    <div class="card bg-info text-white">
                        <div class="card-body"> <center>CONTENUE DE QUIZ</center></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-sm-3" >
                            <table>
{% set copie =0 %}
                                <tr>
                                    <td colspan="" >
                                        <div class="form-group row">
                                            <div class="col-xs-1" >
                                                <input type="text" id="myInput" onkeyup="myFunctiona()" placeholder="Search for names.." title="Type in a name">
                                                <div style=" width:373px;border-bottom: 1px solid ;
                                                             color: #3a87ad; ">
                                                    <ul id="myUL">
                                                        {% for q in listequiz %}
                                                            {% if q.user == user %}



                                                                <li><a style="width: 373px" href="#" onclick="myFunction( '{{ q.id }}' )" >{{ q.titre }}</a></li>


                                                            {% endif %}


                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>

                            <script>

                                function myFunction(p1) {
                                    var url = '{{ path('get_info_quiz', {'quiz': 'quiz_id'}) }}';
                                    url = url.replace("quiz_id", p1);

                                    $.ajax({
                                        url: url,
                                        method: 'POST',
                                        success: function(result){
                                            $("#test").html(result);
                                        }
                                    });

                                }

                                function myFunctiona() {
                                    var input, filter, ul, li, a, i, txtValue;
                                    input = document.getElementById("myInput");
                                    filter = input.value.toUpperCase();
                                    ul = document.getElementById("myUL");
                                    li = ul.getElementsByTagName("li");
                                    for (i = 0; i < li.length; i++) {
                                        a = li[i].getElementsByTagName("a")[0];
                                        txtValue = a.textContent || a.innerText;
                                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                            li[i].style.display = "";
                                        } else {
                                            li[i].style.display = "none";
                                        }
                                    }
                                }

                            </script>


                        </div>
                        <div class="col-sm-9">

                            <div class="form-group col">
                                <center>
                                    <div id="test" style="background-color:  ; width: auto; height: auto"></div>
                                    <br>
                                    <div id="test2" style="background-color:  ; width: auto; height: auto">


                                    </div>

                                </center>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>




{% endblock %}