{% extends '/bundles/EasyAdmin/default/layout.html.twig' %}

{% set _content_title = 'ESPACE ADMINISTRATEUR' %}

{% block page_title -%}
    {{ _content_title }}

{%- endblock %}

{% block content_header %}
    <div class="form-group row">

        <h1 class="title">{{ _content_title }}</h1>
    </div>
{% endblock %}
{% block main %}

show ici

{% endblock %}