<div>
    <center><h1> Tentative : {{ tentative }}</h1></center>
</div>
<h5 style="padding-left: 15px">
    <font color="#6495ed">
        Nombre de réponses
    </font>
</h5>

{{ participantquiz }}


{% for i in allresultat %}

    {% if i.tentative == tentative and i.participantquiz == participantquiz %}
        {% for j in allreponse %}
            {% if  j.participantquiz == participantquiz %}

            {{ dump(j.reponse) }}
            {% endif %}

        {% endfor %}

    {% endif %}

{% endfor %}


<div style="padding-left:20px; width: 900px;">
    <table class="table table-hover">
        <thead>
        <tr style="background-color: beige">
            <th>Réponse correcte</th>
            <th>10</th>
        </tr>
        </thead>
        <thead>
        <tr style="background-color: beige">
            <th>Réponse incorrecte</th>
            <th>3</th>

        </tr>
        </thead>
    </table>
</div>


<br>
<h5 style="padding-left: 20px">
    <font color="#6495ed">
        Suivi des réponses de quiz
    </font>
</h5>

<div class="row wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

    <div class="col-md-6 mb-4">

        <div class="card">

            <div class="card-body">

                <center>Question correcte</center>

            </div>

        </div>

    </div>

    <div class="col-md-6 mb-4">

        <div class="card">

            <div class="card-body">

                <center>Question incorrecte</center>


            </div>

        </div>

    </div>

</div>
<br>
<br><br>

<br>
