{% extends '/bundles/EasyAdminBundle/default/layout.html.twig' %}

{% block main %}


    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/drilldown.js"></script>



    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>



<br>
<br>
<br>

    <input type="hidden" id="userquiz" data-chart="{{ userquiz }}" />
    <input type="hidden" id="tentativesquiz" data-chart="{{ tentativesquiz }}" />
    <input type="hidden" id="ratings_names" data-chart="{{ ratings_names }}" />
    <input type="hidden" id="ratings_notes" data-chart="{{ ratings_notes }}" />

    <div id="container" style="min-width: 310px; height: 400px; margin-left: 5%; margin-right: 5%"></div>
    <br><hr><br>
    <div class="row" style="width: 100%">
        <div id="cc" style="min-width: 310px; height: 400px; margin: 0 auto; border-right: 1px solid #ccd6eb;" class="col-6"></div>
        <div id="dd" style="min-width: 310px; height: 400px; margin: 0 auto" class="col-6"></div>
    </div>

    <script>
        var userquiz = $('#userquiz').data('chart');
        // Create the chart
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Les 10 premières quiz ayant maximums participants'
            },
            subtitle: {
                text: new Date()
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: 'Total participant'
                }

            },
            legend: {
                enabled: false
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y}'
                    }
                }
            },

            tooltip: {
                headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                pointFormat: '<span style="color:{point.color}">{point.name}</span> <b> : {point.y}</b> participant(s)<br/>'
            },

            series: [
                {
                    name: "Quiz",
                    colorByPoint: true,
                    data: userquiz
                }
            ],


        });
    </script>


<script>
        var tentativesquiz = $('#tentativesquiz').data('chart');
        Highcharts.chart('cc', {
            chart: {
                type: 'pie',
                options3d: {
                    enabled: true,
                    alpha: 45,
                    beta: 0
                }
            },
            title: {
                text: '10 max des participants ili 3amlo akther quizet'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    depth: 35,
                    dataLabels: {
                        enabled: true,
                        format: '{point.name}'
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Pourcentage Tentatives',
                data: tentativesquiz
            }]
        });
</script>



    <script>
        var ratings_names = $('#ratings_names').data('chart');
        var ratings_notes = $('#ratings_notes').data('chart');

        var dataRatings = [];

        ratings_names.forEach(function(element, key) {
            dataRatings.push([element, ratings_notes[key]]);
        });

        Highcharts.chart('dd', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Évaluation des quiz (note / 5)'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                type: 'category',
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Moyenne sur 5'
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                pointFormat: 'Moyenne des note: <b>{point.y:.1f}</b>/5'
            },
            series: [{
                name: 'Population',
                data: dataRatings,
                dataLabels: {
                    enabled: true,
                    rotation: -90,
                    color: '#FFFFFF',
                    align: 'right',
                    format: '{point.y:.1f}', // one decimal
                    y: 10, // 10 pixels down from the top
                    style: {
                        fontSize: '13px',
                        fontFamily: 'Verdana, sans-serif'
                    }
                }
            }]
        });
</script>

{% endblock %}