{% extends '/bundles/EasyAdminBundle/default/layout.html.twig' %}


{% set _content_title = 'Espace d administartion' %}

{% block page_title -%}
    {{ _content_title }}

{%- endblock %}


{% block main %}



<br>
    {% if quiz.tempsDispo %}
        <form action="{{ path('insert', {'quiz' : quiz.id} ) }}" method="post" >
          QUIZ:  {{ quiz.titre }}<br>

            {% if quiz.modeCorrection %}
                mode correction activé
            {% endif %}
            <br>
        le temps disponible est activé <input type="number" name="timequiz" value="0">
        <input type="submit"  class="btn btn-warning" value="Ajouter un compteur a votre quiz"  >
        </form>
    {% endif %}


<br>

{% endblock %}