{% extends '/front_end/base_front.html.twig' %}
{% block body %}

<html>



<div style="background-color: ">



<center>
    <img width="300" height="300" src="{{ asset('logoquiz/war.png') }}"><br><br>
    <h2>Le temps est terminé</h2>

    <br>
    <br>
    <a class="nav-link" href="{{ path('index') }}">Accueil</a>
</center>

</div>
</div>



</div>

<script>

    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
        document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
        document.body.style.backgroundColor = "white";
    }

    var currentTab = 0;
    showTab(currentTab);

    function showTab(n) {
        var x = document.getElementsByClassName("tab");
        x[n].style.display = "block";
        if (n == 0) {
            document.getElementById("prevBtn").style.display = "none";
        } else {
            document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == (x.length - 1)) {
            document.getElementById("nextBtn").innerHTML = "Submit";

        } else {
            document.getElementById("nextBtn").innerHTML = "Next";
        }
        fixStepIndicator(n)
    }

    function nextPrev(n) {
        var x = document.getElementsByClassName("tab");
        if (n == 1 && !validateForm())
            return false;
        x[currentTab].style.display = "none";
        currentTab = currentTab + n;
        if (currentTab >= x.length) {
            alert('Are you sur !!');
            document.getElementById("regForm").submit();
            // return false;
        }
        showTab(currentTab);
    }

    function validateForm() {
        var x, y, i, valid = true;
        x = document.getElementsByClassName("tab");
        y = x[currentTab].getElementsByTagName("input");

        for (i = 0; i < y.length; i++) {
            if (y[i].value == "") {
                y[i].className += " invalid";
                valid = false;
            }
        }
        if (valid) {
            if(this.nb.value !=  this.vv.length  && this.vv.value.length >  this.nb.value ) {
                alert('il faut entre une réponse avec la longueur inférieure à '+this.nb.value  );
                this.vv.focus();
                return false;
            }

            document.getElementsByClassName("step")[currentTab].className += " finish";
        }
        return valid;
    }

    function fixStepIndicator(n) {
        var i, x = document.getElementsByClassName("step");
        for (i = 0; i < x.length; i++) {
            x[i].className = x[i].className.replace(" active", "");
        }
        x[n].className += " active";
    }

    function showHint(str) {
        console.log(str);
        if (str.length == 0) {
            document.getElementById("txtHint").innerHTML = "";
            console.log("vide");
            return;
        }
        else{
            if(this.nb.value !=  this.vv.length  && this.vv.value.length >  this.nb.value ) {
                document.getElementById("txtHint").innerHTML = "<label><font color=red> Il faut entre une réponse avec la longueur inférieure à "+this.nb.value+"</font></label>" ;
                console.log("non");
                return false;
            }else {
                document.getElementById("txtHint").innerHTML = "<label><font color=green>La longueur de réponse est valide</font></label>";
                console.log("oui");
            }
        }
    }

    function showHintnumber(str) {
        console.log(str);
        if (str.length == 0) {
            document.getElementById("txtHintn").innerHTML = "";
            console.log("vide");
            return;
        }

    }
</script>
<br><br>
</body>
</html>

{% endblock %}
